.demo{
  width:400px;
height: 400px;
    background-color:lightgreen;
    align-content: center;
    border-radius: 10px;
   border-style:outset;
   border-color: rgb(0, 162, 255);

    
}
.demo1{
    
   margin-bottom: 20px;
   
    
}
.demo2{
   font-stretch:rgb(44, 201, 122);
   background-color: rgb(19, 223, 212);
 
}
.demo3{
    margin-left: 110px;
    size:px;
}
.demo4{
    margin-top:80px;
    margin-bottom: 30px;
    width: 80px;
    height:30px
}
.kicha{
    width: 30px;
    height: 30px;
    margin-left:90%;
    margin-bottom: 10%;
    

}
#kenstar{

    background-color: rgb(252, 255, 255);
}
    margin-bottom: 10%;
    

}
